@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Then set the font-family for the elements or the entire body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* Or apply it specifically to your components */
.home-container, .home-form, .home-input, .home-button {
    font-family: 'Open Sans', sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home-form {
    margin-bottom: 15px;
    width: 20%; /* Adjust width as needed */
}

.home-input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
}

.home-button {
    background-color: #20232a;
    color: white;
    border: 1px solid #20232a;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 0px;
}

.home-button:hover {
    background-color: white;
    color: #20232a;
}

.submit-button {
    width: 50%; /* Smaller width for the submit button */
}

.logout-button {
    width: auto;
}
